{% include 'tpl/head.html.twig' %}
<!-- RECO -->


    <!-- TAGS BAR -->
    <div class="tagsBarContainer animated fadeInDown">
        <div id="tagsBarInside" class="tagsBarInside ">
            <div class="tagsBarItem tagsBarItemEmpty">
                <p class="tagsBarItemP">Choisissez votre premier critère ci - dessous</p>
            </div>

            <!--
            <div class="tagsBarItem tagsBarItemEmpty">
            </div>
            <div class="tagsBarItem tagsBarItemEmpty">
            </div>
            <div class="tagsBarItem tagsBarItemEmpty">
            </div>
            <div class="tagsBarItem tagsBarItemEmpty">
            </div>
            -->

        </div>
        <div class="tagsBarFade">
        </div>
        <div class="tagsBarNext tagsBarNextDisable">

            <!--
            <form action="{{ path('recommendationResults') }}" method="POST">

                <input class="recoPost" type="hidden" name="artvivre" value="notchecked">
                <input class="recoPost" type="hidden" name="solidarite" value="notchecked">
                <input class="recoPost" type="hidden" name="bienetre" value="notchecked">
                <input class="recoPost" type="hidden" name="divertissement" value="notchecked">
                <input class="recoPost" type="hidden" name="histoireculture" value="notchecked">
                <input class="recoPost" type="hidden" name="amoureux" value="notchecked">
                <input class="recoPost" type="hidden" name="arts" value="notchecked">
                <input class="recoPost" type="hidden" name="sports" value="notchecked">
                <input class="recoPost" type="hidden" name="vienocturne" value="notchecked">
                <input class="recoPost" type="hidden" name="aventure" value="notchecked">
                <input class="recoPost" type="hidden" name="affaires" value="notchecked">

                <input id="eclatPost" type="hidden" name="score_eclate" value="0">
                <input id="investPost" type="hidden" name="score_investir" value="0">
                <input id="culturePost" type="hidden" name="score_culture" value="0">
                <input id="humaPost" type="hidden" name="score_humanitaire" value="0">

                <input id="submitUserScore" type="submit" class="form-control btn btn-default" value="5 Restants" name="submitrecommendation">

            </form>
            -->

            <a href="javascript:void(0)" id="submitUserScorePop" class="submitUserScorePop" data-toggle="modal" data-target="">5 Restants</a>

        </div>
    </div>

    <!-- TAGS SELECTOR -->

    <div class="container tagsSelectorContainer ">
        <div class="rowSelector">
            <div class="tagsSelectorContainerInside tagsSelectorContainerInsideIntro animated fadeInDown">
                <div class="tagsSelector tagsSelectorIntro ">
                    <div class="tagsSelectorInside">
                        <span>Définissez vos critères</span>
                         <p>
                             Afin de vous recommander la meilleur destination sélectionnez les activités qui vous correspondent
                         </p>
                    </div>
                </div>
            </div>
            <div class="tagsSelectorContainerInside tagsSelectorContainerInsideIntroBlocs">
                <div class="rowSelector">
                    <div class="tagsSelectorContainerInside">
                        <div class="tagsSelector pillSelector animated fadeInDown">
                            <div class="tagsSelectorInside tagsSelectorInsideAventures">

                                <div class="checkbox">
                                    <label>
                                        <input class="recoInput" type="checkbox" name="aventure" value="aventure">
                                        <div class="tagsFilter">

                                        </div>
                                        <div class="tagsTitle ">
                                            Aventure
                                        </div>
                                        <div class="tagsValidate">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tagsSelectorContainerInside">
                        <div class="tagsSelector pillSelector animated fadeInDown">
                            <div class="tagsSelectorInside tagsSelectorInsideAffaires">

                                <div class="checkbox">
                                    <label>
                                        <input class="recoInput" type="checkbox" name="affaires" value="affaires">
                                        <div class="tagsFilter">
                                        </div>
                                        <div class="tagsTitle ">
                                            Affaires
                                        </div>
                                        <div class="tagsValidate">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="rowSelector">
                    <div class="tagsSelectorContainerInside">
                        <div class="tagsSelector pillSelector animated fadeInDown">
                            <div class="tagsSelectorInside tagsSelectorInsideNocturne">

                                <div class="checkbox">
                                    <label>
                                        <input class="recoInput" type="checkbox" name="vienocturne" value="vienocturne">
                                        <div class="tagsFilter">
                                        </div>
                                        <div class="tagsTitle ">
                                            Vie nocturne
                                        </div>
                                        <div class="tagsValidate">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="tagsSelectorContainerInside">
                        <div class="tagsSelector pillSelector animated fadeInDown">
                            <div class="tagsSelectorInside tagsSelectorInsideHistoire">

                                <div class="checkbox">
                                    <label>
                                        <input class="recoInput" type="checkbox" name="histoireculture" value="histoireculture">
                                        <div class="tagsFilter">
                                        </div>
                                        <div class="tagsTitle ">
                                            Histoire et Culture
                                        </div>
                                        <div class="tagsValidate">
                                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                                        </div>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rowSelector">

            <div class="tagsSelectorContainerInside">
                <div class="tagsSelector pillSelector animated fadeInDown">
                    <div class="tagsSelectorInside tagsSelectorInsideDivertissement">

                        <div class="checkbox">
                            <label>
                                <input class="recoInput" type="checkbox" name="divertissement" value="divertissement">
                                <div class="tagsFilter">
                                </div>
                                <div class="tagsTitle ">
                                    Divertissement
                                </div>
                                <div class="tagsValidate">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tagsSelectorContainerInside">
                <div class="tagsSelector pillSelector animated fadeInDown">
                    <div class="tagsSelectorInside tagsSelectorInsideSports">

                        <div class="checkbox">
                            <label>
                                <input class="recoInput" type="checkbox" name="sports" value="sports">
                                <div class="tagsFilter">
                                </div>
                                <div class="tagsTitle ">
                                    Sports
                                </div>
                                <div class="tagsValidate">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tagsSelectorContainerInside">
                <div class="tagsSelector pillSelector animated fadeInDown">
                    <div class="tagsSelectorInside tagsSelectorInsideArts">

                        <div class="checkbox">
                            <label>
                                <input class="recoInput" type="checkbox" name="arts" value="arts">
                                <div class="tagsFilter">
                                </div>
                                <div class="tagsTitle ">
                                    Arts
                                </div>
                                <div class="tagsValidate">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tagsSelectorContainerInside">
                <div class="tagsSelector pillSelector animated fadeInDown">
                    <div class="tagsSelectorInside tagsSelectorInsideAmoureux">

                        <div class="checkbox">
                            <label>
                                <input class="recoInput" type="checkbox" name="amoureux" value="amoureux">
                                <div class="tagsFilter">
                                </div>
                                <div class="tagsTitle ">
                                    En amoureux
                                </div>
                                <div class="tagsValidate">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="rowSelector">

            <div class="tagsSelectorContainerInside">
                <div class="tagsSelector pillSelector animated fadeInDown">
                    <div class="tagsSelectorInside tagsSelectorInsideArtvivre">

                        <div class="checkbox">
                            <label>
                                <input class="recoInput" type="checkbox" name="artvivre" value="artvivre">
                                <div class="tagsFilter">
                                </div>
                                <div class="tagsTitle ">
                                    Arts de vivre
                                </div>
                                <div class="tagsValidate">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tagsSelectorContainerInside">
                <div class="tagsSelector pillSelector animated fadeInDown">
                    <div class="tagsSelectorInside tagsSelectorInsideSolidarite">

                        <div class="checkbox">
                            <label>
                                <input class="recoInput" type="checkbox" name="solidarite" value="solidarite">
                                <div class="tagsFilter">
                                </div>
                                <div class="tagsTitle ">
                                    Solidarité
                                </div>
                                <div class="tagsValidate">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tagsSelectorContainerInside">
                <div class="tagsSelector pillSelector animated fadeInDown">
                    <div class="tagsSelectorInside tagsSelectorInsideBienetre">

                        <div class="checkbox">
                            <label>
                                <input class="recoInput" type="checkbox" name="bienetre" value="bienetre">
                                <div class="tagsFilter">
                                </div>
                                <div class="tagsTitle ">
                                    Bien être
                                </div>
                                <div class="tagsValidate">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>


    <!--
    <p class="pillSelector" id="item1">item1</p>
    <p class="pillSelector" id="item2">item2</p>
    <p class="pillSelector" id="item3">item3</p>
    <p class="pillSelector"id="item4">item4</p>
    <p class="pillSelector" id="item5">item5</p>
    <p class="pillSelector" id="item6">item6</p>
    <p class="pillSelector" id="item7">item7</p>
    <p class="pillSelector" id="item8">item8</p>
    <p class="pillSelector" id="item9">item9</p>
    <p class="pillSelector" id="item10">item10</p>
    <p class="pillSelector" id="item11">item11</p>
    <p class="pillSelector" id="item12">item12</p>
    <p class="pillSelector" id="item13">item13</p>
    <p class="pillSelector" id="item14">item14</p>
    <p class="pillSelector" id="item15">item15</p>
    <p class="pillSelector" id="item16">item16</p>
    <p class="pillSelector" id="item17">item17</p>
    <p class="pillSelector" id="item18">item18</p>
    <p class="pillSelector" id="item19">item19</p>
    <p class="pillSelector" id="item20">item20</p>
    -->



<!--
    <div class="container">

        <div class="row">
            <div class="col-md-12">



            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="artvivre" value="artvivre">
                                    Arts de vivre
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="solidarite" value="solidarite">
                                    Solidarité
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="bienetre" value="bienetre">
                                    Bien être
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="divertissement" value="divertissement">
                                    Divertissement
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="histoireculture" value="histoireculture">
                                    Histoire et culture
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="amoureux" value="amoureux">
                                    En amoureux
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="arts" value="arts">
                                    Arts
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="sports" value="sports">
                                    Sports
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="vienocturne" value="vienocturne">
                                    Vie nocturne
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="aventure" value="aventure">
                                    Aventure
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="checkbox">
                                <label>
                                    <input class="recoInput" type="checkbox" name="affaires" value="affaires">
                                    Affaires
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">

                            <form action="{{ path('recommendationResults') }}" method="POST">

                                <input class="recoPost" type="hidden" name="artvivre" value="notchecked">
                                <input class="recoPost" type="hidden" name="solidarite" value="notchecked">
                                <input class="recoPost" type="hidden" name="bienetre" value="notchecked">
                                <input class="recoPost" type="hidden" name="divertissement" value="notchecked">
                                <input class="recoPost" type="hidden" name="histoireculture" value="notchecked">
                                <input class="recoPost" type="hidden" name="amoureux" value="notchecked">
                                <input class="recoPost" type="hidden" name="arts" value="notchecked">
                                <input class="recoPost" type="hidden" name="sports" value="notchecked">
                                <input class="recoPost" type="hidden" name="vienocturne" value="notchecked">
                                <input class="recoPost" type="hidden" name="aventure" value="notchecked">
                                <input class="recoPost" type="hidden" name="affaires" value="notchecked">

                                <input id="eclatPost" type="hidden" name="score_eclate" value="0">
                                <input id="investPost" type="hidden" name="score_investir" value="0">
                                <input id="culturePost" type="hidden" name="score_culture" value="0">
                                <input id="humaPost" type="hidden" name="score_humanitaire" value="0">

                                <div class="form-group">
                                    <div class="controls">
                                        <input type="submit" class="form-control btn btn-default" value="voir" name="submitrecommendation">
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
            </div>
        </div>

    </div>

    -->

<section class="recofooter">

    <div class="recofooterreturn">

        <div class="recofooterreturninside">

            <a href="{{ path('home') }}">Le projet Pélican</a>

        </div>

    </div>

    <div class="manifesto_section manifesto_footer">
        <div class="manifesto_footer_inside">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="manifesto_footer_others">
                            <p>© Tout droits réservés Le Pélican - <a id="manifesto_mention" data-toggle="modal" data-target="#modal_mention" href="">Mentions légales</a></p>
                            <p>
                                <a id="manifesto_mailto" target="_blank" href="mailto:contact@le-pelican.eu">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>
                                <a id="manifesto_facebook" target="_blank" href="https://www.facebook.com/lepelican.eu/">
                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                </a>
                                <a id="manifesto_twitter" target="_blank" href="https://twitter.com/Le__Pelican">
                                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                                </a>

                                <a id="manifesto_kitpresse" href="{{ asset('/img/cdp.pdf') }}">Télécharger le kit presse <i class="fa fa-angle-right" aria-hidden="true"></i></a>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<!-- Modal register -->
<div class="modal fade" id="modal_register_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Renseigez vos informations ci-dessous</h4>
            </div>
            <div class="modal-body">

                <form action="{{ path('recommendationResults') }}" method="POST">

                    <input class="recoPost" type="hidden" name="artvivre" value="notchecked">
                    <input class="recoPost" type="hidden" name="solidarite" value="notchecked">
                    <input class="recoPost" type="hidden" name="bienetre" value="notchecked">
                    <input class="recoPost" type="hidden" name="divertissement" value="notchecked">
                    <input class="recoPost" type="hidden" name="histoireculture" value="notchecked">
                    <input class="recoPost" type="hidden" name="amoureux" value="notchecked">
                    <input class="recoPost" type="hidden" name="arts" value="notchecked">
                    <input class="recoPost" type="hidden" name="sports" value="notchecked">
                    <input class="recoPost" type="hidden" name="vienocturne" value="notchecked">
                    <input class="recoPost" type="hidden" name="aventure" value="notchecked">
                    <input class="recoPost" type="hidden" name="affaires" value="notchecked">

                    <input id="eclatPost" type="hidden" name="score_eclate" value="0">
                    <input id="investPost" type="hidden" name="score_investir" value="0">
                    <input id="culturePost" type="hidden" name="score_culture" value="0">
                    <input id="humaPost" type="hidden" name="score_humanitaire" value="0">

                    <div class="form-first-part">

                        <div class="form-group">
                            <label>Vous êtes ...</label>
                            <div class="radioContainer">

                                <div class="radio">
                                    <label class="radioHommeFemmeLabel" id="optionsSexesHommeLabel">
                                        un homme
                                    </label>
                                    <input class="radioHommeFemme" type="radio" name="optionsSexes" id="optionsSexesHomme" value="optionsSexesHomme" checked>
                                </div>
                                <div class="radio">
                                    <label class="radioHommeFemmeLabel" id="optionsSexesFemmeLabel">
                                        une femme
                                    </label>
                                    <input class="radioHommeFemme" type="radio" name="optionsSexes" id="optionsSexesFemme" value="optionsSexesFemme">

                                </div>
                            </div>

                        </div>

                        <div class="form-group">

                            <label>Vous avez ...</label>

                            <select name="formselectage" class="form-control" id="formselectage" required>
                                <option name="40">40 ans </option>
                                <option name="41">41 ans </option>
                                <option name="42">42 ans </option>
                                <option name="43">43 ans </option>
                                <option name="44">44 ans </option>
                                <option name="45">45 ans </option>
                                <option name="46">46 ans </option>
                                <option name="47">47 ans </option>
                                <option name="48">48 ans </option>
                                <option name="49">49 ans </option>
                                <option name="50">50 ans </option>
                                <option name="51">51 ans </option>
                                <option name="52">52 ans </option>
                                <option name="53">53 ans </option>
                                <option name="54">54 ans </option>
                                <option name="55">55 ans </option>
                                <option name="56">56 ans </option>
                                <option name="57">57 ans </option>
                                <option name="58">58 ans </option>
                                <option name="59">59 ans </option>
                                <option name="60">60 ans </option>
                                <option name="61">61 ans </option>
                                <option name="62">62 ans </option>
                                <option name="63">63 ans </option>
                                <option name="64">64 ans </option>
                                <option name="65">65 ans </option>
                                <option name="66">66 ans </option>
                                <option name="67">67 ans </option>
                                <option name="68">68 ans </option>
                                <option name="69">69 ans </option>
                                <option name="70">70 ans </option>
                                <option name="71">71 ans </option>
                                <option name="72">72 ans </option>
                                <option name="73">73 ans </option>
                                <option name="74">74 ans </option>
                                <option name="75">75 ans </option>
                                <option name="76">76 ans </option>
                                <option name="77">77 ans </option>
                                <option name="78">78 ans </option>
                                <option name="79">79 ans </option>
                                <option name="80">80 ans </option>
                                <option name="81">81 ans </option>
                                <option name="82">82 ans </option>
                                <option name="83">83 ans </option>
                                <option name="84">84 ans </option>
                                <option name="85">85 ans </option>
                                <option name="86">86 ans </option>
                                <option name="87">87 ans </option>
                                <option name="88">88 ans </option>
                                <option name="89">89 ans </option>
                                <option name="90">90 ans </option>
                                <option name="91">91 ans </option>
                                <option name="92">92 ans </option>
                                <option name="93">93 ans </option>
                                <option name="94">94 ans </option>
                                <option name="95">95 ans </option>
                                <option name="96">96 ans </option>
                                <option name="97">97 ans </option>
                                <option name="98">98 ans </option>
                                <option name="99">99 ans </option>
                                <option name="100">100 ans </option>
                            </select>

                        </div>
                    </div>

                    <div class="form-second-part">

                        <div class="form-group">

                            <label>Entrez votre mail</label>
                            <div class="controls">
                                <input class="form-control" id="UserMail" type="text" name="UserMail" value="" placeholder="Votre email ici" required>

                            </div>

                        </div>


                    </div>

                    <hr>


                    <div class="form-third-part">
                        <input id="submitUserScore" type="submit" class="form-control btn btn-default btnpelican" value="Voir mes résultats" name="submitrecommendation">


                        </div>

                </form>

            </div>
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"></button>
            </div>
            -->
        </div>
    </div>
</div>


<!-- Modal mention -->
<div class="modal fade" id="modal_mention" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <strong>La seule contrepartie à l'utilisation de ces mentions légales, est l'engagement total à laisser le lien crédit subdelirium sur cette page de mentions légales.</strong><br />
            Vos mentions légales :
            <h2>Informations légales</h2>
            <h3>1. Présentation du site.</h3>
            <p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
            <p><strong>Propriétaire</strong> : SHIFTTEAM –  – Paris<br />
                <strong>Créateur</strong>  : <a href="www.le-pelican.eu">SHIFTTEAM</a><br />
                <strong>Responsable publication</strong> : SHIFTTEAM – SHIFTTEAM<br />
                Le responsable publication est une personne physique ou une personne morale.<br />
                <strong>Webmaster</strong> : SHIFTTEAM – SHIFTTEAM<br />
                <strong>Hébergeur</strong> : PLANETHOSTER – Paris<br />
                Crédits : <br />
                Les mentions légales ont été générées et offertes par Subdelirium <a target="_blank" href="http://www.subdelirium.com/generateur-de-mentions-legales/" alt="rédaction des mentions légales">Générateur de mentions légales</a></p>

            <h3>2. Conditions générales d’utilisation du site et des services proposés.</h3>
            <p>L’utilisation du site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> sont donc invités à les consulter de manière régulière.</p>
            <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par SHIFTTEAM, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
            <p>Le site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> est mis à jour régulièrement par SHIFTTEAM. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
            <h3>3. Description des services fournis.</h3>
            <p>Le site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> a pour objet de fournir une information concernant l’ensemble des activités de la société.</p>
            <p>SHIFTTEAM s’efforce de fournir sur le site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
            <p>Tous les informations indiquées sur le site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
            <h3>4. Limitations contractuelles sur les données techniques.</h3>
            <p>Le site utilise la technologie JavaScript.</p>
            <p>Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour</p>
            <h3>5. Propriété intellectuelle et contrefaçons.</h3>
            <p>SHIFTTEAM est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.</p>
            <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : SHIFTTEAM.</p>
            <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
            <h3>6. Limitations de responsabilité.</h3>
            <p>SHIFTTEAM ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site www.le-pelican.eu, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
            <p>SHIFTTEAM ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a>.</p>
            <p>Des espaces interactifs (possibilité de poser des questions dans l’espace contact) sont à la disposition des utilisateurs. SHIFTTEAM se réserve le droit de supprimer, sans mise en demeure préalable, tout contenu déposé dans cet espace qui contreviendrait à la législation applicable en France, en particulier aux dispositions relatives à la protection des données. Le cas échéant, SHIFTTEAM se réserve également la possibilité de mettre en cause la responsabilité civile et/ou pénale de l’utilisateur, notamment en cas de message à caractère raciste, injurieux, diffamant, ou pornographique, quel que soit le support utilisé (texte, photographie…).</p>
            <h3>7. Gestion des données personnelles.</h3>
            <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>
            <p>A l'occasion de l'utilisation du site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a>, peuvent êtres recueillies : l'URL des liens par l'intermédiaire desquels l'utilisateur a accédé au site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a>, le fournisseur d'accès de l'utilisateur, l'adresse de protocole Internet (IP) de l'utilisateur.</p>
            <p> En tout état de cause SHIFTTEAM ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a>. L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> l’obligation ou non de fournir ces informations.</p>
            <p>Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.</p>
            <p>Aucune information personnelle de l'utilisateur du site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de SHIFTTEAM et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a>.</p>
            <p>Le site n'est pas déclaré à la CNIL car il ne recueille pas d'informations personnelles. .</p>
            <p>Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>
            <h3>8. Liens hypertextes et cookies.</h3>
            <p>Le site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de SHIFTTEAM. Cependant, SHIFTTEAM n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.</p>
            <p>La navigation sur le site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.</p>
            <p>Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière suivante, pour refuser l’installation des cookies :</p>
            <p>Sous Internet Explorer : onglet outil (pictogramme en forme de rouage en haut a droite) / options internet. Cliquez sur Confidentialité et choisissez Bloquer tous les cookies. Validez sur Ok.</p>
            <p>Sous Firefox : en haut de la fenêtre du navigateur, cliquez sur le bouton Firefox, puis aller dans l'onglet Options. Cliquer sur l'onglet Vie privée.
                Paramétrez les Règles de conservation sur :  utiliser les paramètres personnalisés pour l'historique. Enfin décochez-la pour  désactiver les cookies.</p>
            <p>Sous Safari : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur Paramètres de contenu. Dans la section "Cookies", vous pouvez bloquer les cookies.</p>
            <p>Sous Chrome : Cliquez en haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales). Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section "Confidentialité", cliquez sur préférences.  Dans l'onglet "Confidentialité", vous pouvez bloquer les cookies.</p>

            <h3>9. Droit applicable et attribution de juridiction.</h3>
            <p>Tout litige en relation avec l’utilisation du site <a href="http://www.le-pelican.eu/">www.le-pelican.eu</a> est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
            <h3>10. Les principales lois concernées.</h3>
            <p>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.</p>
            <p> Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
            <h3>11. Lexique.</h3>
            <p>Utilisateur : Internaute se connectant, utilisant le site susnommé.</p>
            <p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>

        </div>
    </div>
</div>

<!-- /RECO -->
{% include 'tpl/footerreco.html.twig' %}