{% include 'tpl/head.html.twig' %}
<!-- TEMPLATE RESULTS -->
<!-- GLOBAL MENU -->
<div id="find_global_menu_bis" class="container-fluid">
    <div class="row">
        <div class="find_menu animated fadeInDown">
            <!--
               <nav class="navbar navbar-default navbar-fixed-top">
                   <div class="container-fluid">
                       <div class="navbar-header">
                           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                               <span class="sr-only">Toggle navigation</span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                           </button>
                           <a class="navbar-brand" href="#"><img src="img/logo.png" alt="Pélican logo" width="75px" height="auto" /></a>
                       </div>

                       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                           <ul class="nav navbar-nav navbar-right">
                               <li><a href="#">manifesto</a></li>
                           </ul>
                       </div>
                   </div>
               </nav>
               -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="find_menu_inside">
                            <div class="find_menu_logo">
                                <a id="results_logo" class="" href="{{ path('assistant') }}"><img src="{{ asset('/img/logo.png') }}" alt="Pélicanlogo" /></a>
                            </div>
                            <div class="find_menu_manifesto">
                                <a id="results_lepelican" href="{{ path('home') }}">Le Pélican</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FULLPAGE -->
<div id="fullpage" class="fullpageresults">
    <!-- SECTION EMAIL -->
    <div class="section">
            <div class="insideslide_container">
                <div class="insideslide_inside">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-2">
                            </div>

                            <div class="col-md-8">
                                <div class="customvalign">
                                    <h2 class="centertext animated fadeInDown"> <strong> Le Pélican a <span>1</span> ville pour vous !</strong> </h2>
                                    <h2 class="centertext animated fadeInDown">Entrez votre adresse email pour la découvrir</h2>

                                    <form class="animated fadeInDown" action="{{ path('city') }}" method="POST" id="formulaireResults">

                                        <input type="hidden" name="formulaireCityId" value="{{ city_id }}">
                                        <input type="hidden" name="formulairehealth_care_index" value="{{ health_care_index }}">
                                        <input type="hidden" name="formulairecrime_index" value="{{ crime_index }}">
                                        <input type="hidden" name="formulairecpi_index" value="{{ cpi_index }}">
                                        <input type="hidden" name="formulairequality_of_life_index" value="{{ quality_of_life_index }}">
                                        <input type="hidden" name="formulairegroceries_index" value="{{ groceries_index }}">
                                        <input type="hidden" name="formulairecity_name" value="{{ city_name }}">
                                        <input type="hidden" name="formulairerestaurant_price_index" value="{{ restaurant_price_index }}">

                                        <input type="text" id="formulaireMailClient" name="formulaireMailClient" class="form-control" placeholder="Entrez votre email ici" required>
                                        <button id="results_voirdestination" type="submit" name="formulaireResultsSubmit" class="btn btn-default btnpelican"> Voir ma destination! </button>

                                    </form>
                                </div>
                            </div>

                            <div class="col-md-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- SECTION CONCEPT -->
    <!--
    <div class="section">
            <div class="insideslide_container">
                <div class="insideslide_inside">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="customvalign">
                                    <h2 class="centertext animated fadeInDown"> PARTAGE / CONCEPT </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    -->
</div>

{% include 'tpl/footerresults.html.twig' %}